@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mooli&family=Patrick+Hand+SC&family=Phudu:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f6f9;
  font-family: "Phudu", cursive;
}

.container {
  height: auto;
  text-align: center;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cardContainer {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: #212a3e;
}

.card {
  color: #f1f6f9;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: ease-in-out;
  transition: transform 0.3s;
}

.card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

.card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

img {
  width: 200px;
  height: 200px;
}

.card .content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .content {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: bold;
  font-size: 18px;
}

span:nth-child(1) {
  transform: rotate(180deg);
  margin-left: -50%;
}

hr {
  width: 100%;
}

.card .front {
  background-color: #212a3e;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  color: white;
}
